.section-head {
    margin-bottom: 2.3vw;
    font-size: 3vw;
}

/* ===========HERO=========== */

.slider {
    position: relative;
    height: 30vw;
    overflow: hidden;
    margin-bottom: 106px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 750px;
    color: white;
}

.caption h1 {
    font-size: 4.4vw;
}

/* --- OVERVIEW SECTION STYLES --- */

.overview-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
    width: 100%;    
    box-sizing: border-box;
}

.overview-text{
    flex: 1;
}

.overview-text h2 {
    font-size: 3.5vw;
    color: black;
    margin-bottom: 15px;
}

.overview-text p {
    font-size: 1.2vw;
    margin-bottom: 30px;
    letter-spacing: -0.015em;
}


.btn-learn {
    font: inherit;
    background-color: transparent;
    border: 3px solid black;
    padding: 12px 36px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 16px;
    font-size: 1.2vw;
    font-weight: bold;
}

.btn-learn:hover {
    background: black;
    color: white;
}

.overview-images {
    flex: 1;
}

.overview-images img {
    width: 100%;
    height: auto;;
}
/* ===========Qualities=======  ==== */
.qualities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vw;
    margin-bottom: 4vw;
}

.quality-box {
    display: flex;
    align-items: center;
}

.quality-box img {
    height: 11vh;
    width: 25%;
    margin-left: -1.4vw;
}


.quality-box-text {
    margin-left: 20px;
}

.quality-box-text h3 {
    font-variant: small-caps;
    font-size: 1.4vw;
    margin-bottom: 20px;
    width: 105%;
}

.quality-box-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
    margin-right: -22px;
    line-height: 1.4vw;
    letter-spacing: 0.05em;
    width: 120%;
}

/* ===========Metal Welding About Us=========== */
.metalWelding {
    background-color: #D9D9D9;
    margin: 0 -3vw 84px -3vw;
    padding: 0 5% 0 5%;
}

.metalWelding-header {
    text-align: center;
    padding: 5% 0 5% 0;
    font-size: 2vw;
}

.metalWelding-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: 120px;
    padding-bottom: 5%;
}

.metalWelding-text h1 {
    font-size: 3.3vw;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    margin-bottom: 14px;
}

.metalWelding-text p {
    font-size: 1vw;
    line-height: 152.63%;
}

.metalWelding-img {
    width: 85%;
    padding-right: -200px;
}

.metalWelding-text {
    width: 107%;
    margin-left: -50px;
}

.metalWelding-img img {
    width: 100%;
}
/* @media screen and (min-width:1920px) {
    .metalWelding-text h1 {
        font-size: 60px;
    }

    .metalWelding-text p {
        font-size: 20px;
    }

    .metalWelding-header h1 {
        font-size: 60px;
    }

} */


/* ===========TRUSTED BY=========== */
.trustedBy {
    text-align: center;
    margin-bottom: 100px;
}

.trustedlogos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    padding: 1vw 0 1vw 0;
}

.trustedlogos img{
    width: 100%;
}

/* ===========LOCATION=========== */
.contact-section {
    display: flex;
    justify-content: space-between;
    height: 39vh;
    background-color: #D9D9D9;
    margin: 0 -3vw 0 -3vw;
}

.contact-map {
    flex: 1;
}

.contact-info {
    font-family: Poppins, sans-serif;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #dcdcdc;
}

.contact-info h2 {
    margin-bottom: 5px;
    font-size: 2.8vw ;
}

.contact-info hr {
    width: 40px;
    height: 4px;
    background: black;
    margin-bottom: 25px;
}

.contact-info p {
    font-size: 1vw;
    letter-spacing: 0.14em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info img{
    width: 2vw;
}