.section-head {
    margin-bottom: 34px;
    font-size: 43px;
}

/* ===========HERO=========== */

.slider {
    position: relative;
    width: 100%;
    height: 424px;
    overflow: hidden;
    margin-bottom: 106px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 750px;
    color: white;
}

.caption h1 {
    font-size: 64px;
}

/* --- OVERVIEW SECTION STYLES --- */

.overview-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 170px;
}

.overview-text h2 {
    font-size: 40px;
    color: black;
    margin-bottom: 15px;
}

.overview-text p {
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: -0.015em;
}


.btn-learn {
    font: inherit;
    background-color: transparent;
    border: 3px solid black;
    padding: 6px 30px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
}

.btn-learn:hover {
    background: black;
    color: white;
}

.overview-images {
    flex: 1;
    position: relative;
    width: 100%;
    height: 500px;
}

.overview-images .img {
    position: absolute;
}

.img-top {
    top: -10%;
    left: 25%;
    z-index: 2;
}

.img-top-background {
    top: -6.5%;
    left: 27%;
}

.img-bottom {
    bottom: -3%;
    right: 2%; 
    z-index: 1;
}

.img-bottom-background {
    bottom: -6%;
    right: 3.5%; 
}

/* ===========Qualities=========== */
.qualities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px;
    margin-bottom: 59px;
}

.quality-box{
    display: flex;
    align-items: center;
    width: auto;
}

.quality-box img{
    height: 103px;
    width: 103px;
    margin-left: -23px;
}


.quality-box-text{
    margin-left: 20px;
}

.quality-box-text h3{
    font-variant: small-caps;
    font-size: 20px;
    margin-bottom: 20px;
    width: 105%;
}

.quality-box-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-right: -22px;
    line-height: 19px;
    letter-spacing: 0.05em;
    width: 120%;
}
/* ===========Metal Welding About Us=========== */
.metalWelding {
    text-align: center;
    height: 802px;
    background-color: #D9D9D9;
    margin: 0 -48px 84px -48px;
    padding: 0 52px 0 52px;
}

.metalWelding-header h1 {
    padding: 72px 0 72px 0;
    font-size: 48px;
}

.metalWelding-content {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 91px;
    margin-bottom: 84px;
}

.metalWelding-text h1 {
    font-size: 48px;
    margin-bottom: 14px;
}

.metalWelding-text p {
    font-size: 16px;
    line-height: 152.63%;
}

/* ===========TRUSTED BY=========== */
.trustedBy {
    text-align: center;
    margin-bottom: 100px;
}

.trustedlogos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    padding: 25px 0 25px 0;
}

/* ===========LOCATION=========== */
.location {
    margin: 0 -48px 0 -48px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    height: 351px;
    background-color: #D9D9D9;
    margin: 0 -48px 0 -48px;
}

.contact-map {
    flex: 1;
}

.contact-info {
    font-family: Poppins, sans-serif;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #dcdcdc;
}

.contact-info h2 {
    margin-bottom: 5px;
    font-size: 40px;
}

.contact-info hr {
    width: 40px;
    height: 3px;
    border: none;
    background: black;
    margin-bottom: 25px;
}

.contact-info p {
    font-size: 14px;
    letter-spacing: 0.14em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}