* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.main{
  margin: 0 48px;
}

/* ===========Nav Bar=========== */
.nav-bar {
  background-color: black;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 64px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 56px;
  cursor: pointer;
}

.nav-links a {
  color: #18a0fb;
  text-decoration: none;
  padding: 6px 10px;
}

.nav-links a:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown label {
  color: #18a0fb;
  cursor: pointer;
}

#triangle_symbol {
  color: white;
}

#services {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style-type: none;
  min-width: 270px;
  padding: 20px 0 0 0;
  z-index: 1;
}

#services li a {
  display: block;
  font-size: 16px;
  background-color: black;
  border-bottom: 1px solid white;
}

#triangle {
  display: none;
}

#triangle:checked~#services {
  display: block;
}

.nav-links .nav-contact {
  color: white;
  background-color: #18a0fb;
  padding: 4px 36px;
}


/* ===========FOOTER=========== */
footer {
  border-top: 3px solid #000;
  padding: 33px 20px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-black {
  margin-top: -60px;
}

.footer-col h3 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 700;
}

.footer-col p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.14em;
}

.contact-form label, input[type="email"], input[type="submit"]{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.14em;
  font-size: 14px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
}

.contact-form input[type="email"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 12px;
  border: 0;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 15px;
}

.contact-form input[type="submit"] {
  padding: 8px 25px;
  border: 3px solid #000;
  background-color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.contact-form input[type="submit"]:hover {
  background: black;
  color: white;
}
