* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.main {
  margin: 0 3vw;
}

/* ===========Nav Bar=========== */

.header {
  height: auto;
}

.nav-bar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.nav-bar img {
  width: 20vw;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.3vw;
  gap: 3vw;
  cursor: pointer;
}

.nav-links a {
  color: #18a0fb;
  text-decoration: none;
  padding: 0.4vw 0.7vw;
}

.nav-links a:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown label {
  color: #18a0fb;
  cursor: pointer;
}

#triangle_symbol {
  color: white;
}

#services {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style-type: none;
  min-width: 270px;
  padding: 20px 0 0 0;
  z-index: 1;
}

#services li a {
  display: block;
  font-size: 1vw;
  background-color: black;
  border-bottom: 1px solid white;
}

#triangle {
  display: none;
}

#triangle:checked~#services {
  display: block;
}

.nav-links .nav-contact {
  color: white;
  background-color: #18a0fb;
  padding: 0.4vw 2.4vw;
}


/* ===========FOOTER=========== */
footer {
  border-top: 3px solid black;
  padding: 33px 20px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-black img {
  width: 15vw;
  height: 10vw;
}

.logo-black {
  margin-top: -60px;
}

.footer-col h3 {
  font-size: 1.3vw;
  margin-bottom: 8px;
}

.footer-col p {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  line-height: 1.6vw;
  letter-spacing: 0.14em;
}

.contact-form label,
input[type="email"],
input[type="submit"] {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.14em;
  font-size: 1vw;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="email"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 12px;
  border: 0;
  border-radius: 0.5vw;
  background: black;
  color: white;
}

.contact-form input[type="submit"] {
  padding: 8px 25px;
  border: 3px solid black;
  background-color: white;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: 0.2s ease;
}

.contact-form input[type="submit"]:hover {
  background: black;
  color: white;
}

/* @media screen and (min-width:1920px){
  #services li a{
    font-size: 20px
  }

  .footer-col h3{
    font-size: 25px
  }

  .footer-col p, .contact-form label, input[type="email"], input[type="submit"]{
    font-size: 18px;
  }
} */