.section-head {
  margin-bottom: 62px;
  font-size: 3vw;
}

/* @media screen and (min-width:1920px) {
  .section-head {
    font-size: 55px;
  }
} */

hr {
  height: 3px;
  background-color: black;
}

/* ===========Hero=========== */

.slider {
  position: relative;
  width: 100%;
  height: 87vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.caption {
  position: absolute;
  top: 39vh;
  left: 10%;
  color: white;

}

.caption h1 {
  font-size: 2.4vw;
  margin-bottom: 1vw;
}

.caption p {
  font-size: 1vw;
  margin-bottom: 1.2vw;
  line-height: 1.2vw;
}

.btn {
  font-size: 1vw;
  position: absolute;
  top: 100%;
  padding: 0.8vh 1.8vw;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  z-index: 1;
}


/* @media screen and (min-width:1920px) {
  .caption h1 {
    font-size: 45px;
  }

  .caption p,
  .btn {
    font-size: 22px;
    line-height: 25px;
  }
} */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 2px solid white;
  width: 3vw;
  height: 5.3vh;
  border-radius: 50%;
  color: white;
  font-size: 1.3vw;
  cursor: pointer;
}

.prev {
  left: 3vw;
}

.next {
  right: 3vw;
}

.prev:hover,
.next:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* ===========Companies=========== */

.companies img {
  width: 100%;
  height: 100%;
  margin-bottom: 8vw;
}

/* ===========Headline=========== */
.headline {
  text-align: center;
  margin: 0 20px 8vw 20px;
}

.headline h1 {
  font-size: 2.4vw; 
  margin-bottom: 1.6vw;
}

.headline p {
  font-size: 1.6vw;
  line-height: 2vw;
}

/* @media screen and (min-width:1920px) {
  .headline h1 {
    font-size: 45px;
  }

  .headline p {
    font-size: 30px;
    line-height: 40px;
  }
} */

/* ===========Service=========== */
.services {
  text-align: center;
  margin-bottom: 142px;
}

.services h1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 10%;
}

.grid-box img {
  border: 5px solid black;
  margin-bottom: 20px;
  width: 100%;
}

.grid-box p {
  font-size: 1.4vw;
}

/* @media screen and (min-width:1920px) {
  .grid-box p {
    font-size: 25px;
  } */


/* ===========Metal Welding Homepage=========== */
.metalWelding {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 120px;
}

.metalWelding-text h1 {
  font-size: 3.3vw;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 14px;
}

.metalWelding-text p {
  font-size: 1vw;
  line-height: 152.63%;
}

.metalWelding-img {
  width: 85%;
  padding-right: -200px;
}

.metalWelding-text {
  width: 107%;
  margin-left: -50px;
}

.metalWelding-img img {
  width: 100%;
}

/* @media screen and (min-width:1920px) {
  .metalWelding-text h1 {
    font-size: 60px;
  }

  .metalWelding-text p {
    font-size: 20px;
  }
} */


/* ===========TRUSTED BY=========== */
.trustedBy {
  text-align: center;
  margin-bottom: 100px;
}

.trustedlogos {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 3px solid black;
  border-radius: 20px;
  padding: 1vw 0 1vw 0;
}

.trustedlogos img {
  width: 100%;
}


/* ===========FEATURED=========== */
.featured {
  text-align: center;
  margin-bottom: 130px;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 64px;
  column-gap: 5%;
}

.featuredProject img {
  border: 3px solid black;
  width: 100%;
}