.section-head {
  margin-bottom: 62px;
  font-size: 43px;
}

hr {
  height: 3px;
  background-color: black;
}

/* ===========Hero=========== */

.slider {
  position: relative;
  width: 100%;
  height: 723px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.caption {
  position: absolute;
  top: 321px;
  left: 10%;
  max-width: 750px;
  color: white;
}

.caption h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.caption p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}

.btn {
  position: absolute;
  top: 100%;
  padding: 8px 26px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  z-index: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.prev {
  left: 40px;
}

.next {
  right: 40px;
}

.prev:hover,
.next:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* ===========Companies=========== */

.companies {
  width: 100%;
  height: 177px;
  background-image: url('../images/companies.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: auto;
}

/* ===========Headline=========== */
.headline {
  text-align: center;
  margin: 120px 20px 20px 20px;
}

.headline h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.headline p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 100px;
}

/* ===========Service=========== */
.services {
  text-align: center;
  margin-bottom: 142px;
}

.services h1 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.services-grid {
  display: flex;
  justify-content: space-between;
}

.grid-box img {
  border: 5px solid black;
  margin-bottom: 20px;
}

.grid-box p {
  font-size: 20px;
  font-weight: 500;
}

/* ===========Metal Welding Homepage=========== */
.metalWelding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.metalWelding-text h1 {
  font-size: 48px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 14px;
}

.metalWelding-text p {
  font-size: 16px;
  line-height: 152.63%;
}

/* ===========TRUSTED BY=========== */
.trustedBy {
  text-align: center;
  margin-bottom: 142px;
}

.trustedlogos {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 3px solid black;
  border-radius: 20px;
  padding: 25px 0 25px 0;
}

/* ===========FEATURED=========== */
.featured{
  text-align: center;
  margin-bottom: 130px;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 64px;
  column-gap: 91px; 
}

.featuredProject img {
  border: 3px solid black;
}
