.section-head {
    margin-bottom: 34px;
    font-size: 43px;
}

/* ===========HERO=========== */

.slider {
    position: relative;
    width: 100%;
    height: 36vh;
    overflow: hidden;
    margin-bottom: 32px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 750px;
    color: white;
}

.caption h1 {
    font-size: 4.4vw;
}

/* ===========Description=========== */
.description {
    text-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 68px;
}

/* ===========Metal Welding About Us=========== */
.metalWorks {
    text-align: center;
    background-color: #D9D9D9;
    margin: 0 -48px 146px -48px;
    padding: 0 52px 1px 52px;
}

.metalWorks-header h1 {
    padding: 72px 0 72px 0;
    font-size: 48px;
    text-decoration: underline;
}

.metalWorks-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 64px;
    column-gap: 91px;
    margin-bottom: 84px;

}

/* ===========Metal Working Example=========== */
.metalWorksExamples {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    padding: 0 58px 0 58px;
}

.metalWorksExamples-box {
    text-align: center;
}

.metalWorksExamples-box h1 {
    font-size: 48px;
    margin-bottom: 55px;
    letter-spacing: -0.015em;
}

.metalWorksExamples-box p {
    margin-bottom: 65px;
    font-size: 16px;
    line-height: 152.63%;
    letter-spacing: -0.015em;
}